// Colors
$darkGrey: #323232;
$white: #e0edff;
$black: #1a1f26;
$blue: #ff5719;

$backgroundDarker: #1a1f26;
$backgroundDark: #222831;

//Fonts
$fontHeader: 'Victor Mono', monospace;
$fontParagraph: 'Open Sans', sans-serif;
$fontCode: 'Roboto Mono', monospace;

// Content
$breakLarge: 992px;
$width: 760px;
